
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #6374d4;
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 21px;
  }
  .resetDeckButton
  {
      margin-right: 15px;
  }
  .errorMsg
  {
    color: red;
  }
  
  /* Style the footer */
  footer {
    background-color: #6374d4;
    padding: 10px;
    text-align: center;
    color: white;
  }


  